/* Блоки по отдельности */
@import url(/assets/css/main/header.css);
@import url(/assets/css/main/banner.css);
@import url(/assets/css/main/catalog.css);
@import url(/assets/css/main/adv.css);
@import url(/assets/css/main/rewiev.css);
@import url(/assets/css/main/feetback.css);
@import url(/assets/css/main/footer.css);

/* Кнопки и ссылки */
@import url(/assets/css/main/link.css);
@import url(/assets/css/main/btn.css);
@import url(/assets/css/main/input.css);

/* Страницы */
@import url(/assets/css/main/admin.css);
@import url(/assets/css/main/login.css);
@import url(/assets/css/main/profile.css);
@import url(/assets/css/main/registr.css);
@import url(/assets/css/main/product.css);

*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto";
}

@font-face {
    font-family: "Roboto";
    src: url(/assets/fonts/Montserrat-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: "Roboto";
    src: url(/assets/fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Roboto";
    src: url(/assets/fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src: url(/assets/fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url(/assets/fonts/Montserrat-Light.ttf);
    font-weight: 200;
}
@font-face {
    font-family: "Roboto";
    src: url(/assets/fonts/Montserrat-Thin.ttf);
    font-weight: 100;
}