@media screen and (min-width:1200px) {
    .h2__title{
        font-size: 64px;
        font-weight: 700;
        position: relative;
        margin-bottom: 50px;
    }

    .container{
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
    }
    
    .mt_100{
        margin-top: 100px;
    }
    
    /* header start */
    header{
        background-color: black;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
    }
    
    .logo img{
        width: 80px;
        height: 80px;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .profile img{
        width: 35px;
        height: 35px;
    }

    .menu__head {
        display: none;
    }
}